.itemContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 4rem;
}

.headerInfo {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.headerInfo h4 {
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: bold;
    color: #111;
}

.imageBox {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f1b2b2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.imageBox:active {
    transform: scale(0.96);
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tableWrapper {
    flex: 1;
    gap: 1rem;
    padding-right: 2rem;
    margin-left: 0.5rem;
}

.tableHeader {
    font-weight: bold;
    color: #333;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc; /* 헤더 구분선 */
}

.tableHeader h4 {
    margin: 0;
    font-size: 1rem;
}

.itemRow {
    color: #333;
}

.tableHeader,
.itemRow {
    display: grid;
    /* 비율: [상품명 : 수량 : 가격 : 상태] */
    grid-template-columns: 2.5fr 1fr 1.5fr 1.2fr;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}
